
.bg-blue {
    background: #022A50;
    color: #fff !important;
}
.bg-light-pink {
    background: #FCF7FF;
}
.blue-btn,
.white-btn {
    background: #022A50;
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
    border: 2px #022A50 solid;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.white-btn {
    background: #fff;
    color: #022A50;
}

.blue-btn:hover,
.white-btn:hover {
    opacity: 0.9;
}

.dt-buttons button {
    background: #022A50;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.dt-buttons button:hover,
.dt-buttons button:focus {
    background: rgba(2,42,80, 0.9) !important;
}

.blue-outline-btn {
    background: #fff;
    border-radius: 5px;
	border:2px solid #022A50;
    color: #022A50;
    padding: 10px 19px;
    transition: all 0.3s ease-in-out;
}

.blue-outline-btn:hover {
    background: #022A50;
    border-radius: 5px;
	border:2px solid #022A50;
    color: #fff;
    padding: 10px 19px;
}

.td-pass {
    color: #2F992F;
    background: rgba(202, 251, 197, 0.5) !important;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.td-rejected,
.td-pending {
    color: #FF4545;
    background: rgba(255, 69, 69, 0.07) !important;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.td-deviated {
    color: #FF9900;
    background: rgba(231, 214, 61, 0.25) !important;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    transition: all 0.3s ease-in-out;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    background: #022A50 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #022A50;
    background: #022A50 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    opacity: 0.9;
}

/* Utilities */
.dropdown-toggle-nocaret:after {
	display: none
}
.table-dropdown a {
	color:#212529
}
.table-responsive {
	white-space:nowrap
}
.table-sample-stats thead th {
	font-size:14px
}
.table-sample-stats tbody td {
	font-size:13px
}
.radius-15 {
	border-radius:15px
}
.btn-back a {
	font-size:16px;
	color:#212529
}
/* forms */
.form-control {
	background-color: #f8f8f8;
}

/* notification */

.numbernotifications{
    background: #FF4545;
    min-width: 22px;
    text-align: center;
    border-radius: 50%;
    color: white;
    height: auto;
    font-size: 15px;
	
}

.status-div{
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.notification-heading{

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
    
}
.notification-details{
    color: #2C2C2CCC;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;

}

.border-bottom{
    left: 420px;
    border-bottom: 1px solid #E2E8F0;
    width: 787px;
}

/* login page */
.login-page {
    display: flex;
    flex-wrap: wrap;
}
.login-page .left-box {
    background: #022A50;
    flex-basis: 40%;
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 50px;
}
.login-page .profile-pic {
    margin-top: 20px;
}
.login-page .profile-pic img {
    background: #021F39;
    padding: 12px;
    border-radius: 50px;
    vertical-align: bottom;
}
.login-page .left-box h4 {
    color: #fff;
    margin-top: 15px;
}
.login-page .left-box p {
    color: #C8C1F2;
    margin-top: 15px;
}
.login-page .login-form-box {
    display: grid;
    flex-basis: 60%;
    align-items: center;
    height: 100vh;
    padding: 90px;
}
.login-page .login-form-inner {
    max-width: 650px;
}
.login-page form {
    margin-top: 40px;
}
.login-page .input-box {
    margin-top: 25px;
}
.login-page input {
    border: 1px solid #022A50;
    border-radius: 5px;
}
.login-page input[type="checkbox"] {
    width: auto;
    cursor: pointer;
    vertical-align: middle;
}
.login-page .checkbox-outer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.login-page .checkbox-outer label {
    cursor: pointer;
}
.login-page .checkbox-outer a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.login-page .checkbox-outer a:hover {
    color: #022A50;
    text-decoration: underline;
}
.login-page .login-button {
    margin-top: 40px;
}
.login-page input[type="submit"] {
    background: rgb(2 42 80 / 100%);
    box-shadow: 10px 50px 40px rgb(0 0 0 / 4%);
    border-radius: 10px;
    color: #fff;
    padding: 16px 10px;
    max-width: 200px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    transition: all 0.3s ease-in-out;
}
.login-page input[type="submit"]:hover {
    background: rgb(2 42 80 / 90%);
}

.sb-sidenav .profile-box {
    margin-bottom: 40px;
}
.sb-sidenav .nav-link {
    position: relative;
    padding-left: 40px;
    color: #D5D6EC;
}
.sb-sidenav .nav-link.active,
.sb-sidenav .nav-link:hover {
    background: #032341;
    color: #fff;
}
.sb-sidenav .nav-link.active::before,
.sb-sidenav .nav-link:hover::before {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    background: #fff;
}
.sb-sidenav .nav-link::after {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    left: 1rem;
    width: 16px;
    height: 18px;
}
.sb-sidenav .nav-link.dashboard:after {
    background: url(../../assets/images/dashboard.png) center center no-repeat;
    background-size: 100%;
}
.sb-sidenav .nav-link.stats::after {
    background: url(../../assets/images/stats.png) center center no-repeat;
    background-size: 100%;
}
.sb-sidenav .nav-link.sample::after {
    background: url(../../assets/images/sample.png) center center no-repeat;
    background-size: 100%;
}
.sb-sidenav .nav-link.result::after {
    background: url(../../assets/images/result.png) center center no-repeat;
    background-size: 100%;
}
.sb-sidenav .nav-link.notification::after {
    background: url(../../assets/images/notification.png) center center no-repeat;
    background-size: 100%;
}
.sb-sidenav .nav-link.logout::after {
    background: url(../../assets/images/logout.png) center center no-repeat;
    background-size: 100%;
}

/* dashboard-container */
.dashboard-container .card {
    border-radius: 10px;
}
.sb-topnav .user-img-small img {
    max-width: 50px;
}
.dashboard-container .dashboad-title-wrapper {
    margin-top: 20px;
}
.dashboard-container .dashboad-title-box {
    background: #FFFFFF;
    border: 1px solid rgba(195, 197, 198, 0.4);
    box-shadow: 0px 1px 30px rgba(68, 97, 215, 0.05);
    border-radius: 20px;
    padding: 20px 20px 10px 10px;
    width: 100%;
    min-height: 134px;
}
.dashboard-container .dashboad-icon {
    background: rgba(2, 42, 80, 0.05);
    display: inline-block;
    padding: 15px;
    border-radius: 50px;
    height: 100%;
    max-width: 60px;
}
.dashboard-container h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #022A50;
}
.dashboard-container p {
    font-size: 15px;
    line-height: 19px;
    color: #242731;
    opacity: 0.9;
}
.dashboard-container .sample-stats-graph-box {
    background: #FFFFFF;
    border: 1px solid rgba(195, 197, 198, 0.4);
    box-shadow: 0px 1px 20px rgba(68, 97, 215, 0.1);
    border-radius: 20px;
    min-height: 450px;
    color: #242731;
}
.dashboard-container .sample-stats-graph-box .sample-area-chart {
    margin-top: 50px;
}
.dashboard-container .sample-stats-graph-box h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #242731;
}
.dashboard-container .sample-graph-inner {
    padding: 30px;
}
.dashboard-container .date-form .input-date {
    margin-right: 20px;
}
.dashboard-container .date-form .input-date:last-child {
    margin-right: 0;
}
.dashboard-container .date-form input {
    border: 1px solid rgba(5, 9, 22, 0.3);
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
}
.dashboard-container .date-form label {
    color: #242731;
    opacity: 0.8;
    display: block;
    margin-bottom: 8px;
}

/* footer-bottom */
.footer-bottom, .footer-bottom a {
    color: #242731;
    opacity: 0.8;
}
.footer-bottom a {
    border-right: 1px rgba(36,39,49,0.5) solid;
    padding: 0 10px;
}
.footer-bottom a:first-child {
    padding-left: 0;
}
.footer-bottom a:last-child {
    border-right: 0;
}

/* stats report */
table.table-sample-stats {
    border-spacing: 0 10px;
}
table.table-sample-stats thead tr th {
    background: rgba(138, 60, 172, 0.08);
    border-bottom: 0;
}
table.table-sample-stats tr td {
    margin: 5px 0;
}
table.table-sample-stats tr.odd td {
    background: #fff;
}
table.table-sample-stats tr.even td {
    background: rgba(248, 243, 250, 0.6);
}
.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}
div.dt-buttons {
    float: right;
}
.dataTables_wrapper .dataTables_filter input {
    background: rgba(138, 60, 172, 0.02);
    border: 1px solid rgba(36, 39, 49, 0.1);
    border-radius: 4px;
    outline: 0;
    margin-left: 10px;
}

/* filter */
.dashboard-container .filter-box {
    position: relative;
    text-align: right;
    margin-right: 90px;
    top: 40px;
    z-index: 1;
    max-width: 300px;
    margin-left: auto;
}
.dashboard-container .filter-box .filter-btn {
    background: rgba(138, 60, 172, 0.05);
    border-radius: 4px;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}
.dashboard-container .filter-box .filter-btn img {
    vertical-align: baseline;
}
.dashboard-container .filter-box .sample-filter-box-outer {
    background: #FFFFFF;
    box-shadow: 0px -4px 24px rgba(24, 41, 47, 0.11);
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    padding: 30px;
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
    text-align: left;
}
.dashboard-container .filter-box .sample-filter-box {
    margin-top: 15px;
}
.dashboard-container .filter-box .sample-filter-box:first-child {
    margin-top: 0;
}
.dashboard-container .filter-box select {
    border: 0.6px solid #E2E8F0;
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 8px 15px 10px;
}
.dashboard-container .filter-box label {
    display: block;
    margin-bottom: 8px;
}
.dashboard-container .filter-box option {
    background: rgba(2, 42, 80, 0.05);
    border-radius: 4px 4px 0px 0px;
}
.dashboard-container .button-outer {
    margin-top: 20px;
}
.dashboard-container .button-outer .blue-btn {
    margin-right: 15px;
}
.dashboard-container .close-btn {
    text-align: right;
    max-width: 20px;
    margin-left: auto;
    padding: 5px;
    cursor: pointer;
}

/* Medai Querry Starts here */

@media only screen and (max-width: 1440px) {
    .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .dashboard-container .sample-graph-inner {
        padding: 20px;
    }
    .sb-sidenav .nav-link {
        font-size: 14px;
    }
    .for-central-lab-page.dashboard-container .sample-stats-graph-box {
        min-height: 340px;
    }
    .dashboard-container p {
        font-size: 13px;
    }
}